

.statusbox {
  background-color: #2e3647;
  /* border: 2px solid gray; */
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.TBMstatesize{
  font-size: 20px;
}

.progressContainer {
  width: 70%;
}

.distanceDisplay {
  display: flex;
  justify-content:space-evenly;
}

.StateButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.jackingAndDepth{
  justify-content:space-evenly;
}

.progress-and-distance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}


.progress-and-distance .distance, 
.progress-and-distance .progress-container {
  flex-basis: 50%; /* Adjust if you want different ratios */
}


.progress-container .ProgressBar {
  width: auto; /* Adjust width as needed, could be 100% or a specific value */
}

.TBMstateandbutton{
  display: flex;
}