
.water-control-container {
    width: 49%; /* Set this to the desired width */
    /* float: right; Align to the right side */
}

/* Optional: clear float if it's the last element */
/* .water-control-container:after {
    content: "";
    display: table;
    clear: both;
} */

/* MotorControl.css */
.button-text-size {
    font-size: 18px; /* Size for button text */
}

