


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61daFb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main body section and sets the color to the dark blue */
body{
  background-color: #2e3647; 
}

/* Left section */
.left-section{
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5%;
  width: 32.5%;
  height: 98vh;
  float: left;
  opacity: 1;
}

/* Right section */
.right-section{
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5%;
  width: 32.5%;
  height: 98vh;
  float: right; 
  opacity: 1;
}

/* Middle section */
.middle-section{
  padding: 10px;
  width: 33%;
  height: 98vh;
  float: left; 
  opacity: 1;
}

.inner-middle-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 93vh;
}

.title-image {
  top: 0;
  left: 5.6px;
  border-radius: 12px;
  width: 572.8px;
  height: 51.2px;
  object-fit: cover;
}

.diggeridoos-logo {
  text-align: center;
  /* margin-bottom: 30px; */
}

h3 {
  color: white
}
p {
  color:white;
  padding-top: 15px;
}
.row{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.control-row{
  /* border: 2px solid gray; */
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.bottom-control-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abort-button {
  font-size: 24px;
  margin-left: 5%;
  margin-right: 5%;
}

.button-block {
  min-width: 40px;
  font-size: 10px;
}

.form-switch .form-check-input {
  width: 100%; 
  height: 2em;
}

.bottom-right-side{
  display: flex;
  /* align-items: center; */
  margin-left: 30%;
}
